@import "vares";
@import 'mixins'; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}
.navbar{
 padding: $p-4;
   
}

header {
    background-color: $bg-primary;
    padding: $p-5;
    margin: $m-5;

    h1 {
        color: $text-white;
        text-align: center;
    }

    p {
        color: $text-white;
        text-align: center;
        margin-top: 10px;
    }

    a {
      @include buttons;
    }
}

#text{
    color: $text-white;
    background:#363535;
    text-align: center;
    margin: $m-5;
    padding: $p-5;

}
footer{
    text-align: center;
    font-size: $f-s;
    padding: $p-4;
}



